@charset "UTF-8";

#header { width:100%; }
#header .header-wrap { background:url(../images/air.png)no-repeat center, #086BA6; width:100%; }
#header .header-wrap .benner { width:980px; margin:0 auto;  height:90px; }
#header .header-wrap .benner > a { float:left; width:155px; padding-top:23px; }


#header .header-wrap .benner > form { float:left; margin-top:30px; margin-left:125px; }
#header .header-wrap .benner > form fieldset { width:285px; border:0 none; background:#fff; border-radius:30px; height:30px; }
#header .header-wrap .benner > form fieldset .field .search { font-size:13px; line-height:30px; padding-left:15px; }
#header .header-wrap .benner > form fieldset .field .inp-field { font-size:11px; border:0 none; text-indent:7px; outline:none; }
#header .header-wrap .benner > form fieldset .f-icon { float:right; margin-right:10px; margin-top:8px; }


#header .header-wrap .benner .number { float:right; }
#header .header-wrap .benner .number > h1 { color:#fff; float:left; font-size:28px; font-weight:normal; margin-top:23px; margin-right:10px; letter-spacing:-1.5px; }
#header .header-wrap .benner .number .b-font { font-weight:bold; }
#header .header-wrap .benner .number .sns-wrap { display:flex; margin-top:30px; }


#header .nav-wrap { width:100%;  border-bottom:5px solid #0E72A7; background:#fff; }
#header .nav-wrap .nav { width:980px; height:60px; margin:0 auto; }
#header .nav-wrap .nav li { float:left; width:calc(980px / 6); line-height:60px; text-align:center; border-left:1px solid #E5E5E5; }
#header .nav-wrap .nav li a { display:block; }
#header .nav-wrap .nav li:last-child { border-right:1px solid #E5E5E5; }


.contents {
  width:100%;
  height:1300px;
  background-image:url(../images/bg-img.png), url(../images/bgimg.png);
  background-repeat:no-repeat;
  background-size:755px 800px,cover;
  background-position:top,center;
}

.contents .cont-wrap { width:980px; height:610px; margin:0 auto; margin-bottom:15px; }

.contents .cont-wrap .sub-wrap .cont-m img { width:482px; height:300px; margin-top:50px; margin-bottom:15px; }

.contents .cont-wrap .font-wrap { float:right; margin-top:50px; margin-right:100px; }
.contents .cont-wrap .font-wrap h1 { font-size:65px; }
.contents .cont-wrap .font-wrap p  { font-size:27px; }

.contents .cont-wrap .sub-wrap .country-wrap li { float:left; margin-right:15px; }
.contents .cont-wrap .sub-wrap .country-wrap li > img { margin-bottom:0; height:190px; }
.contents .cont-wrap .sub-wrap .country-wrap li > p {
  width:233px; height:50px;
  background:#152630;
  position:absolute;
  font-size:15px;
  color:#fff;
  padding-left:22px;
  display:flex; align-items:center;
  margin-top:-5px;
}
.contents .cont-wrap .sub-wrap .country-wrap .france p .g-color {
  color:#69B960; padding-left:20px; letter-spacing:2px;
}
.contents .cont-wrap .sub-wrap .country-wrap .france p .arrow {
  padding-left:20px; font-size:25px; padding-bottom:5px;
}
.contents .cont-wrap .sub-wrap .country-wrap .japan p .g-color {
  color:#69B960; padding-left:47px; letter-spacing:2px;
}
.contents .cont-wrap .sub-wrap .country-wrap .japan p .arrow {
  padding-left:20px; font-size:25px; padding-bottom:5px;
}

.contents .container { width:980px;  margin:0 auto; }
.contents .container li { float:left; position:relative; }
.contents .container li + li { margin-left:15px; }

.contents .container li img { width:233px; height:240px; }
.contents .container li .overlay1 { width:100%; height:100%; position:absolute; top:24px; left:20px; font-size:14px; color:#494748; }
.contents .container li .overlay2 { width:100%; height:100%; position:absolute; top:100px; left:20px; font-size:13px; color:#46609D; }
.contents .container li .overlay3 { width:100%; height:100%; position:absolute; top:17px; text-align:center; font-size:19px; color:#fff; font-weight:bold; }
.contents .container li > div { position:absolute; color:#fff; width:233px; height:65px; bottom:0; padding-top:13px; padding-left:17px; font-size:16px; }

.contents .container li:nth-child(1) > div { background:#529351; }
.contents .container li:nth-child(2) > div { background:#152630 ; }
.contents .container li:nth-child(3) > div { background:#152630; }
.contents .container li:nth-child(4) > div { background:#44619D; }
.contents .container .star { color:#E2A101; }

.hov_container { width:980px; margin:0 auto; }
.hov_container li { float:left; margin-top:15px; position:relative; overflow:hidden; }
.hov_container li + li { margin-left:15px; }
.hov_container h3 { font-size:20px; padding-bottom:8px;}
.hov_container div {
  font-size:14px;
  width:100%; height:100%;
  position:absolute;
  padding-top:5px;
  top:63%;
  color:#fff;
  text-align:center;
}
