#header { width:100%; height:185px; position:relative; }

#header .nav01 { width:100%; height:27px; text-align:right; border-bottom:1px solid #ddd; }
#header .nav01 li { list-style:none; display:inline-block;  width:100px; height:30px;  }
#header .nav01 li a { display:block; text-decoration:none; text-align:center;color:#888; }

h1 { left:50px; top:5px; text-align:center; }

#header .nav02 { width:100%; height:45px; background:#1c5da3; text-align:center; }
#header .nav02 li { list-style:none; display:inline-block; margin-right:30px; margin-left:30px; height:45px; line-height:45px; }
#header .nav02 li a { text-decoration:none; color:#fff; }

#photo { text-align:center; position:relative; }
.main { width:100%; height:400px; }
.v01 { position:absolute; left:22%; top:90px; }
.v02 { position:absolute; right:18%; top:43px;}

